services:
  app1:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - C:/chat_logs:/app/logs  # [추가] 내 PC의 C:/chat_logs 폴더를 컨테이너와 연결
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - SERVER_ID=app-1
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/chatting-server-test-db?rewriteBatchedStatements=true&useServerPrepStmts=false&allowMultiQueries=true&serverTimezone=Asia/Seoul

  app2:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - C:/chat_logs:/app/logs  # [추가]
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - SERVER_ID=app-2
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/chatting-server-test-db?rewriteBatchedStatements=true&useServerPrepStmts=false&allowMultiQueries=true&serverTimezone=Asia/Seoul

  app3:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - C:/chat_logs:/app/logs  # [추가]
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - SERVER_ID=app-3
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/chatting-server-test-db?rewriteBatchedStatements=true&useServerPrepStmts=false&allowMultiQueries=true&serverTimezone=Asia/Seoul

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app1
      - app2
      - app3

  redis:
    image: redis:latest