services:
  app1:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    # ports: - "8081:8080"  # 외부에서 직접 접속할 거 아니면 생략 가능

    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/chatting-server-test-db
  app2:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/chatting-server-test-db
  app3:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/chatting-server-test-db

  nginx:
    image: nginx:latest
    ports:
      - "80:80"  # 브라우저는 여기로 접속!
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app1
      - app2
      - app3

  redis:
    image: redis:latest